<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        input[type=number] {
          -moz-appearance: textfield;
        }
        .hide { position:absolute; top:-1px; left:-1px; width:1px; height:1px; }
    </style>

</head>
<body>
<div class="my-1">
    <div class="d-inline-block mx-4 py-5">
        <table class="table w-25">
            <b><caption style="caption-side:top; text-align:center; font-size:24px;">Grupa A</caption></b>
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Kraj</th>
                <th scope="col">Bramki</th>
                <th scope="col">Punkty</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team, iterator: ${groupATeams}">
                <td th:text="${iterator.index+1}" />
                <td th:text="${team.teamCountry}" />
                <td th:text="|${team.teamGoalsScored}-${team.teamGoalsSuffered}|" />
                <td th:text="${team.teamPoints}" />
            </tr>
            </tbody>
        </table>
        <form th:action="@{/index}" style="text-align:center;" class="mt-2" method="post" id="1" target="hiddenFrame">
            <input type="hidden" name="teamMatch" value="1">
            <input type="hidden" name="team1" value="Katar">Katar <input type="number"  value="0" class= "ml-2" style="width:20px; text-align:center;" name="goalsScoredByTeam1" id="number1"> -
            <input type="number" inputmode="numeric" value="0" class= "mr-2" style="width:20px; text-align:center;" name="goalsScoredByTeam2" id="number2" onchange="setLocalStorageValue()"><input type="hidden" name="team2" value="Ekwador">Ekwador
        </form>
        <form th:action="@{/index}" style="text-align:center;" class="mt-2" method="post" id="2" target="hiddenFrame">
            <input type="hidden" name="teamMatch" value="1">
            <input type="hidden" name="team1" value="Senegal">Senegal<input type="number" inputmode="numeric" value="0" class= "ml-2" style="width:20px; text-align:center;" name="goalsScoredByTeam1" id="number3" > -
            <input type="number" inputmode="numeric" value="0" class= "mr-2" style="width:20px; text-align:center;" name="goalsScoredByTeam2" id="number4"><input type="hidden" name="team2" value="Holandia">Holandia
        </form>
        <form th:action="@{/index}" style="text-align:center;" class="mt-2" method="post" id="3" target="hiddenFrame">
            <input type="hidden" name="teamMatch" value="2">
            <input type="hidden" name="team1" value="Katar">Katar <input type="number" inputmode="numeric" value="0" class= "ml-2" style="width:20px; text-align:center;" name="goalsScoredByTeam1" id="number5"> -
            <input type="number" inputmode="numeric" value="0" class= "mr-2" style="width:20px; text-align:center;" name="goalsScoredByTeam2" id="number6"><input type="hidden" name="team2" value="Senegal">Senegal
        </form>
        <form th:action="@{/index}" style="text-align:center;" class="mt-2" method="post" id="4" target="hiddenFrame">
            <input type="hidden" name="teamMatch" value="2">
            <input type="hidden" name="team1" value="Holandia">Holandia <input type="number" inputmode="numeric" value="0" class= "ml-2" style="width:20px; text-align:center;" name="goalsScoredByTeam1" id="number7"> -
            <input type="number" inputmode="numeric" value="0" class= "mr-2" style="width:20px; text-align:center;" name="goalsScoredByTeam2" id="number8"><input type="hidden" name="team2" value="Ekwador">Ekwador
        </form>
        <form th:action="@{/index}" style="text-align:center;" class="mt-2" method="post" id="5" target="hiddenFrame">
            <input type="hidden" name="teamMatch" value="3">
            <input type="hidden" name="team1" value="Ekwador">Ekwador <input type="number" inputmode="numeric" value="0" class= "ml-2" style="width:20px; text-align:center;" name="goalsScoredByTeam1" id="number9"> -
            <input type="number" inputmode="numeric" value="0" class= "mr-2" style="width:20px; text-align:center;" name="goalsScoredByTeam2" id="number10"><input type="hidden" name="team2" value="Senegal">Senegal
        </form>
        <form th:action="@{/index}" style="text-align:center;" class="mt-2" method="post" id="6" target="hiddenFrame">
            <input type="hidden" name="teamMatch" value="3">
            <input type="hidden" name="team1" value="Holandia">Holandia <input type="number" inputmode="numeric" value="0" class= "ml-2" style="width:20px; text-align:center;" name="goalsScoredByTeam1" id="number11"> -
            <input type="number" inputmode="numeric" value="0" class= "mr-2" style="width:20px; text-align:center;" name="goalsScoredByTeam2" id="number12"><input type="hidden" name="team2" value="Katar">Katar
        </form>
    </div>
    <div class="d-inline-block  mx-4 py-5">
        <table class="table w-25">
            <b><caption style="caption-side:top; text-align:center; font-size:24px;">Grupa B</caption></b>
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Kraj</th>
                <th scope="col">Bramki</th>
                <th scope="col">Punkty</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team, iterator: ${groupBTeams}">
                <td th:text="${iterator.index+1}" />
                <td th:text="${team.teamCountry}" />
                <td th:text="|${team.teamGoalsScored}-${team.teamGoalsSuffered}|" />
                <td th:text="${team.teamPoints}" />
            </tr>
            </tbody>
        </table>
        <form style="text-align:center;" class="mt-2">
            Katar<input type="number" inputmode="numeric" value="0" class= "ml-2" style="width:20px; text-align:center;"> -
            <input type="number" inputmode="numeric" value="0" class= "mr-2" style="width:20px; text-align:center;">Ekwador
        </form>
        <form style="text-align:center;" class="mt-2">
            Katar<input type="number" inputmode="numeric" value="0" class= "ml-2" style="width:20px; text-align:center;"> -
            <input type="number" inputmode="numeric" value="0" class= "mr-2" style="width:20px; text-align:center;">Ekwador
        </form>
        <form style="text-align:center;" class="mt-2">
            Katar<input type="number" inputmode="numeric" value="0" class= "ml-2" style="width:20px; text-align:center;"> -
            <input type="number" inputmode="numeric" value="0" class= "mr-2" style="width:20px; text-align:center;">Ekwador
        </form>
        <form style="text-align:center;" class="mt-2">
            Katar<input type="number" inputmode="numeric" value="0" class= "ml-2" style="width:20px; text-align:center;"> -
            <input type="number" inputmode="numeric" value="0" class= "mr-2" style="width:20px; text-align:center;">Ekwador
        </form>
        <form style="text-align:center;" class="mt-2">
            Katar<input type="number" inputmode="numeric" value="0" class= "ml-2" style="width:20px; text-align:center;"> -
            <input type="number" inputmode="numeric" value="0" class= "mr-2" style="width:20px; text-align:center;">Ekwador
        </form>
        <form style="text-align:center;" class="mt-2">
            Katar<input type="number" inputmode="numeric" value="0" class= "ml-2" style="width:20px; text-align:center;"> -
            <input type="number" inputmode="numeric" value="0" class= "mr-2" style="width:20px; text-align:center;">Ekwador
        </form>
    </div>
    <div class="d-inline-block mx-4  py-5">
        <table class="table w-25">
            <b><caption style="caption-side:top; text-align:center; font-size:24px;">Grupa C</caption></b>
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Kraj</th>
                <th scope="col">Bramki</th>
                <th scope="col">Punkty</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team, iterator: ${groupCTeams}">
                <td th:text="${iterator.index+1}" />
                <td th:text="${team.teamCountry}" />
                <td th:text="|${team.teamGoalsScored}-${team.teamGoalsSuffered}|" />
                <td th:text="${team.teamPoints}" />
            </tr>
            </tbody>
        </table>
    </div>
    <div class="d-inline-block  mx-4 py-5">
        <table class="table w-25">
            <b><caption style="caption-side:top; text-align:center; font-size:24px;">Grupa D</caption></b>
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Kraj</th>
                <th scope="col">Bramki</th>
                <th scope="col">Punkty</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team, iterator: ${groupDTeams}">
                <td th:text="${iterator.index+1}" />
                <td th:text="${team.teamCountry}" />
                <td th:text="|${team.teamGoalsScored}-${team.teamGoalsSuffered}|" />
                <td th:text="${team.teamPoints}" />
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="my-1">
    <div class="d-inline-block mx-4  py-5">
        <table class="table w-25">
            <b><caption style="caption-side:top; text-align:center; font-size:24px;">Grupa E</caption></b>
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Kraj</th>
                <th scope="col">Bramki</th>
                <th scope="col">Punkty</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team, iterator: ${groupETeams}">
                <td th:text="${iterator.index+1}" />
                <td th:text="${team.teamCountry}" />
                <td th:text="|${team.teamGoalsScored}-${team.teamGoalsSuffered}|" />
                <td th:text="${team.teamPoints}" />
            </tr>
            </tbody>
        </table>
    </div>
    <div class="d-inline-block mx-4  py-5">
        <table class="table w-25">
            <b><caption style="caption-side:top; text-align:center; font-size:24px;">Grupa F</caption></b>
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Kraj</th>
                <th scope="col">Bramki</th>
                <th scope="col">Punkty</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team, iterator: ${groupFTeams}">
                <td th:text="${iterator.index+1}" />
                <td th:text="${team.teamCountry}" />
                <td th:text="|${team.teamGoalsScored}-${team.teamGoalsSuffered}|" />
                <td th:text="${team.teamPoints}" />
            </tr>
            </tbody>
        </table>
    </div>
    <div class="d-inline-block mx-4  py-5">
        <table class="table w-25">
            <b><caption style="caption-side:top; text-align:center; font-size:24px;">Grupa G</caption></b>
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Kraj</th>
                <th scope="col">Bramki</th>
                <th scope="col">Punkty</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team, iterator: ${groupGTeams}">
                <td th:text="${iterator.index+1}" />
                <td th:text="${team.teamCountry}" />
                <td th:text="|${team.teamGoalsScored}-${team.teamGoalsSuffered}|" />
                <td th:text="${team.teamPoints}" />
            </tr>
            </tbody>
        </table>
    </div>
    <div class="d-inline-block mx-4  py-5">
        <table class="table w-25">
            <b><caption style="caption-side:top; text-align:center; font-size:24px;">Grupa H</caption></b>
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Kraj</th>
                <th scope="col">Bramki</th>
                <th scope="col">Punkty</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team, iterator: ${groupHTeams}">
                <td th:text="${iterator.index+1}" />
                <td th:text="${team.teamCountry}" />
                <td th:text="|${team.teamGoalsScored}-${team.teamGoalsSuffered}|" />
                <td th:text="${team.teamPoints}" />
            </tr>
            </tbody>
        </table>
    </div>
    <iframe name="hiddenFrame" class="hide"></iframe>
    <div style="text-align:center;">
        <input type="button" value="Zapisz" onclick="submitForms()"  />
    </div>
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript">
    submitForms = function(){
        setTimeout(function(){ document.getElementById("1").submit();}, 10);
        setTimeout(function(){ document.getElementById("2").submit();}, 60);
        setTimeout(function(){ document.getElementById("3").submit();}, 110);
        setTimeout(function(){ document.getElementById("4").submit();}, 160);
        setTimeout(function(){ document.getElementById("5").submit();}, 210);
        setTimeout(function(){ document.getElementById("6").submit();}, 260);
        setTimeout(function(){
   window.location.reload(1);
}, 1000);
}
</script>
<script>
function save_data_to_localstorage(input_id) {
   const input_val = document.getElementById(input_id).value;
   localStorage.setItem(input_id, input_val);
   console.log(input_val);
}


number1.addEventListener("keyup", function() {
   save_data_to_localstorage("number1");
});

number2.addEventListener("keyup", function() {
   save_data_to_localstorage("number2")
});

number3.addEventListener("keyup", function() {
   save_data_to_localstorage("number3")
});

number4.addEventListener("keyup", function() {
   save_data_to_localstorage("number4")
});

number5.addEventListener("keyup", function() {
   save_data_to_localstorage("number5")
});

number6.addEventListener("keyup", function() {
   save_data_to_localstorage("number6")
});

number7.addEventListener("keyup", function() {
   save_data_to_localstorage("number7")
});

number8.addEventListener("keyup", function() {
   save_data_to_localstorage("number8")
});

number9.addEventListener("keyup", function() {
   save_data_to_localstorage("number9")
});

number10.addEventListener("keyup", function() {
   save_data_to_localstorage("number10")
});

number11.addEventListener("keyup", function() {
   save_data_to_localstorage("number11")
});

number12.addEventListener("keyup", function() {
   save_data_to_localstorage("number12")
});

function init_values() {
   if (localStorage["number1"]) {
      number1.value = localStorage["number1"];
   }

   if (localStorage["number2"]) {
      number2.value = localStorage["number2"];
   }

   if (localStorage["number3"]) {
      number3.value = localStorage["number3"];
   }

   if (localStorage["number4"]) {
      number4.value = localStorage["number4"];
   }

   if (localStorage["number5"]) {
      number5.value = localStorage["number5"];
   }

   if (localStorage["number6"]) {
      number6.value = localStorage["number6"];
   }

   if (localStorage["number7"]) {
      number7.value = localStorage["number7"];
   }

   if (localStorage["number8"]) {
      number8.value = localStorage["number8"];
   }

   if (localStorage["number9"]) {
      number9.value = localStorage["number9"];
   }

   if (localStorage["number10"]) {
      number10.value = localStorage["number10"];
   }

   if (localStorage["number11"]) {
      number11.value = localStorage["number11"];
   }

   if (localStorage["number12"]) {
      number12.value = localStorage["number12"];
   }
}

init_values();
</script>
</body>
</html>