<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        input[type=number] {
          -moz-appearance: textfield;
        }
    </style>

</head>
<body>
<div class="my-1">
    <div class="d-inline-block mx-4 py-5">
        <table class="table w-25">
            <b><caption style="caption-side:top; text-align:center; font-size:24px;">Grupa A</caption></b>
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Kraj</th>
                <th scope="col">Bramki</th>
                <th scope="col">Punkty</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team, iterator: ${groupATeams}">
                <td th:text="${iterator.index+1}" />
                <td th:text="${team.teamCountry}" />
                <td th:text="|${team.teamGoalsScored}-${team.teamGoalsSuffered}|" />
                <td th:text="${team.teamPoints}" />
            </tr>
            </tbody>
        </table>
        <form style="text-align:center;" class="mt-2">
            Katar<input type="number" inputmode="numeric" class= "ml-2" style="width:20px; text-align:center;" id="Katar"> -
            <input type="number" inputmode="numeric" value="0" class= "mr-2" style="width:20px; text-align:center;">Ekwador
        </form>
        <form style="text-align:center;" class="mt-2">
            Katar<input type="number" inputmode="numeric" value="0" class= "ml-2" style="width:20px; text-align:center;"> -
            <input type="number" inputmode="numeric" value="0" class= "mr-2" style="width:20px; text-align:center;">Ekwador
        </form>
        <form style="text-align:center;" class="mt-2">
            Katar<input type="number" inputmode="numeric" value="0" class= "ml-2" style="width:20px; text-align:center;"> -
            <input type="number" inputmode="numeric" value="0" class= "mr-2" style="width:20px; text-align:center;">Ekwador
        </form>
        <form style="text-align:center;" class="mt-2">
            Katar<input type="number" inputmode="numeric" value="0" class= "ml-2" style="width:20px; text-align:center;"> -
            <input type="number" inputmode="numeric" value="0" class= "mr-2" style="width:20px; text-align:center;">Ekwador
        </form>
        <form style="text-align:center;" class="mt-2">
            Katar<input type="number" inputmode="numeric" value="0" class= "ml-2" style="width:20px; text-align:center;"> -
            <input type="number" inputmode="numeric" value="0" class= "mr-2" style="width:20px; text-align:center;">Ekwador
        </form>
        <form style="text-align:center;" class="mt-2">
            Katar<input type="number" inputmode="numeric" value="0" class= "ml-2" style="width:20px; text-align:center;"> -
            <input type="number" inputmode="numeric" value="0" class= "mr-2" style="width:20px; text-align:center;">Ekwador
        </form>
    </div>
    <div class="d-inline-block  mx-4 py-5">
        <table class="table w-25">
            <b><caption style="caption-side:top; text-align:center; font-size:24px;">Grupa B</caption></b>
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Kraj</th>
                <th scope="col">Bramki</th>
                <th scope="col">Punkty</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team, iterator: ${groupBTeams}">
                <td th:text="${iterator.index+1}" />
                <td th:text="${team.teamCountry}" />
                <td th:text="|${team.teamGoalsScored}-${team.teamGoalsSuffered}|" />
                <td th:text="${team.teamPoints}" />
            </tr>
            </tbody>
        </table>
        <form style="text-align:center;" class="mt-2">
            Katar<input type="number" inputmode="numeric" value="0" class= "ml-2" style="width:20px; text-align:center;"> -
            <input type="number" inputmode="numeric" value="0" class= "mr-2" style="width:20px; text-align:center;">Ekwador
        </form>
        <form style="text-align:center;" class="mt-2">
            Katar<input type="number" inputmode="numeric" value="0" class= "ml-2" style="width:20px; text-align:center;"> -
            <input type="number" inputmode="numeric" value="0" class= "mr-2" style="width:20px; text-align:center;">Ekwador
        </form>
        <form style="text-align:center;" class="mt-2">
            Katar<input type="number" inputmode="numeric" value="0" class= "ml-2" style="width:20px; text-align:center;"> -
            <input type="number" inputmode="numeric" value="0" class= "mr-2" style="width:20px; text-align:center;">Ekwador
        </form>
        <form style="text-align:center;" class="mt-2">
            Katar<input type="number" inputmode="numeric" value="0" class= "ml-2" style="width:20px; text-align:center;"> -
            <input type="number" inputmode="numeric" value="0" class= "mr-2" style="width:20px; text-align:center;">Ekwador
        </form>
        <form style="text-align:center;" class="mt-2">
            Katar<input type="number" inputmode="numeric" value="0" class= "ml-2" style="width:20px; text-align:center;"> -
            <input type="number" inputmode="numeric" value="0" class= "mr-2" style="width:20px; text-align:center;">Ekwador
        </form>
        <form style="text-align:center;" class="mt-2">
            Katar<input type="number" inputmode="numeric" value="0" class= "ml-2" style="width:20px; text-align:center;"> -
            <input type="number" inputmode="numeric" value="0" class= "mr-2" style="width:20px; text-align:center;">Ekwador
        </form>
    </div>
    <div class="d-inline-block mx-4  py-5">
        <table class="table w-25">
            <b><caption style="caption-side:top; text-align:center; font-size:24px;">Grupa C</caption></b>
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Kraj</th>
                <th scope="col">Bramki</th>
                <th scope="col">Punkty</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team, iterator: ${groupCTeams}">
                <td th:text="${iterator.index+1}" />
                <td th:text="${team.teamCountry}" />
                <td th:text="|${team.teamGoalsScored}-${team.teamGoalsSuffered}|" />
                <td th:text="${team.teamPoints}" />
            </tr>
            </tbody>
        </table>
    </div>
    <div class="d-inline-block  mx-4 py-5">
        <table class="table w-25">
            <b><caption style="caption-side:top; text-align:center; font-size:24px;">Grupa D</caption></b>
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Kraj</th>
                <th scope="col">Bramki</th>
                <th scope="col">Punkty</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team, iterator: ${groupDTeams}">
                <td th:text="${iterator.index+1}" />
                <td th:text="${team.teamCountry}" />
                <td th:text="|${team.teamGoalsScored}-${team.teamGoalsSuffered}|" />
                <td th:text="${team.teamPoints}" />
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="my-1">
    <div class="d-inline-block mx-4  py-5">
        <table class="table w-25">
            <b><caption style="caption-side:top; text-align:center; font-size:24px;">Grupa E</caption></b>
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Kraj</th>
                <th scope="col">Bramki</th>
                <th scope="col">Punkty</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team, iterator: ${groupETeams}">
                <td th:text="${iterator.index+1}" />
                <td th:text="${team.teamCountry}" />
                <td th:text="|${team.teamGoalsScored}-${team.teamGoalsSuffered}|" />
                <td th:text="${team.teamPoints}" />
            </tr>
            </tbody>
        </table>
    </div>
    <div class="d-inline-block mx-4  py-5">
        <table class="table w-25">
            <b><caption style="caption-side:top; text-align:center; font-size:24px;">Grupa F</caption></b>
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Kraj</th>
                <th scope="col">Bramki</th>
                <th scope="col">Punkty</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team, iterator: ${groupFTeams}">
                <td th:text="${iterator.index+1}" />
                <td th:text="${team.teamCountry}" />
                <td th:text="|${team.teamGoalsScored}-${team.teamGoalsSuffered}|" />
                <td th:text="${team.teamPoints}" />
            </tr>
            </tbody>
        </table>
    </div>
    <div class="d-inline-block mx-4  py-5">
        <table class="table w-25">
            <b><caption style="caption-side:top; text-align:center; font-size:24px;">Grupa G</caption></b>
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Kraj</th>
                <th scope="col">Bramki</th>
                <th scope="col">Punkty</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team, iterator: ${groupGTeams}">
                <td th:text="${iterator.index+1}" />
                <td th:text="${team.teamCountry}" />
                <td th:text="|${team.teamGoalsScored}-${team.teamGoalsSuffered}|" />
                <td th:text="${team.teamPoints}" />
            </tr>
            </tbody>
        </table>
    </div>
    <div class="d-inline-block mx-4  py-5">
        <table class="table w-25">
            <b><caption style="caption-side:top; text-align:center; font-size:24px;">Grupa H</caption></b>
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Kraj</th>
                <th scope="col">Bramki</th>
                <th scope="col">Punkty</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team, iterator: ${groupHTeams}">
                <td th:text="${iterator.index+1}" />
                <td th:text="${team.teamCountry}" />
                <td th:text="|${team.teamGoalsScored}-${team.teamGoalsSuffered}|" />
                <td th:text="${team.teamPoints}" />
            </tr>
            </tbody>
        </table>
    </div>
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>